/*-- HOME PAGE CUSTOM CSS --*/

::-webkit-scrollbar {
    display: none;
}

.top-bar{
    padding: 10px 25px!important;
}

.social-custom {
    margin-left: 10px!important;
}

.login-btn {
    margin-right:0px!important;
}

.dark-mask.mask-primary {
    background: rgba(218, 77, 77, 0.65)!important;
}

.copyrights {
    padding: 15px 0!important;
}

.get-it {
    padding: 20px 0!important;
}

.sidebar-jumbotron {
    background: #da4d4d;
    color: #fff;
    padding: 10px;
}


.an-items > p {
    font-size: 14px;
}

@media screen and (min-width:768px){
    .sidebar-jumbotron {
        height: calc(100% + 128px);
        margin-top: -64px;
        margin-right: -33px;
    }

    .quick-links {
        height: 230px; 
        overflow: scroll;
    }

    .announcements {
        height: 150px;
        overflow-x: scroll;
    }

    .daily-word {
        margin-bottom: -35px;
    }
}
