@media screen and (min-width:768px) {
    .table-responsive {
        overflow-x: hidden !important;
    }
}

@media screen and (max-width: 520px) {
    .text-xs-sm-center {
        text-align: center !important;
    }

    .change-button {
        display: none;
    }
}

.dropdown-menu {
    margin-left: -100% !important;
    margin-top: -55px !important;
}