@media screen and (min-width:769px) {
    .table-responsive {
        overflow-x: hidden !important;
    }
}

@media screen and (max-width: 991px) {
    .text-xs-sm-center {
        text-align: center !important;
    }

    .change-button {
        display: none;
    }
} 

.sweet-alert {
    width:500px !important;
}

.sweet-alert h2 {
    line-height: 30px !important;
}