# Ignore files
/functions/db_params.php
/jobs/*
/links/*
/images/contacts/*
/images/posts/*
/images/posts/media/*
/images/profile/*
/images/thumbnails/*
/images/boe/*
/images/carousel/*
/links/*
/components/map.php
/todo.txt
/feed.php

# Folder exceptions
!/jobs/.gitkeep
!/jobs/resumes/.gitkeep
!/links/.gitkeep
!/images/contacts/.gitkeep
!/images/posts/.gitkeep
!/images/posts/media/.gitkeep
!/images/profile/.gitkeep
!/images/thumbnails/.gitkeep
!/images/carousel/.gitkeep
!/images/boe/.gitkeep
!/links/.gitkeep

# File Exceptions
!/images/thumbnails/post_thumbnail.jpg
!/images/profile/user.png
!/images/contacts/user.png
!/images/boe/boe-banner.jpg
